name: CI

on:
  workflow_dispatch:
  pull_request:

permissions:
  contents: read # for checkout

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-and-test:
    name: "Install package and run unit tests"
    strategy:
      fail-fast: false
      matrix:
        python-version: [ "3.13" ]
        os: [ ubuntu-latest ]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Install package
        run: uv sync

      - name: Run unit tests
        run: uv run pytest tests/

  test-image-compilation:
    name: "Test image compilation"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout  # required for finding action
        uses: actions/checkout@v4

      - uses: ./.github/actions/build-docker-image
        with:
          platforms: linux/amd64
          docker_file: Dockerfile
          push: 'false'
          token: ${{ secrets.GITHUB_TOKEN }}
